// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
    --clr-red: rgb(236, 0, 0);
    --clr-green: rgb(0, 150, 0);
    --clr-blue: rgb(47, 113, 211);
    --clr-black: rgb(24, 24, 24);
    --clr-light: rgb(245, 245, 245);
    --clr-white: white;

    --clr-btn-primary: var(--clr-black);
    --clr-btn-add: var(--clr-green);
    --clr-btn-close: var(--clr-red);
    --clr-task-hasReminder: var(--clr-blue);
    --clr-icon-remove: var(--clr-red);
    --clr-bg-task: var(--clr-light);

    --clr-txt-main: var(--clr-black);
    --clr-txt-secondary: var(--clr-light);

    --fw-700: 700;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;

    --ff-poppins: "Poppins", sans-serif;
    --ff-body: var(--ff-poppins);
    --ff-heading: var(--ff-poppins);

    --fs-700: 2.4rem;
    --fs-600: 1.7rem;
    --fs-500: 1.5rem;
    --fs-400: 1.3rem;

    --fs-h1: var(--fs-700);
    --fs-body: var(--fs-400);
    --fs-input: var(--fs-500);
    --fs-taskHeading: var(--fs-600);

    --br-400: 0.3rem;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}
