// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
    width: min(300px, 95%);
    margin: 0 auto;
}

.center {
    display: grid;
    place-items: center;
    min-height: 100vh;
}
