@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --clr-red: rgb(236, 0, 0);
  --clr-green: rgb(0, 150, 0);
  --clr-blue: rgb(47, 113, 211);
  --clr-black: rgb(24, 24, 24);
  --clr-light: rgb(245, 245, 245);
  --clr-white: white;
  --clr-btn-primary: var(--clr-black);
  --clr-btn-add: var(--clr-green);
  --clr-btn-close: var(--clr-red);
  --clr-task-hasReminder: var(--clr-blue);
  --clr-icon-remove: var(--clr-red);
  --clr-bg-task: var(--clr-light);
  --clr-txt-main: var(--clr-black);
  --clr-txt-secondary: var(--clr-light);
  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
  --ff-poppins: "Poppins", sans-serif;
  --ff-body: var(--ff-poppins);
  --ff-heading: var(--ff-poppins);
  --fs-700: 2.4rem;
  --fs-600: 1.7rem;
  --fs-500: 1.5rem;
  --fs-400: 1.3rem;
  --fs-h1: var(--fs-700);
  --fs-body: var(--fs-400);
  --fs-input: var(--fs-500);
  --fs-taskHeading: var(--fs-600);
  --br-400: 0.3rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: min(300px, 95%);
  margin: 0 auto;
}

.center {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.btn {
  padding: 1rem 1.2rem;
  border: none;
  border-radius: var(--br-400);
  font-weight: 500;
}
.btn--add {
  background-color: var(--clr-btn-add);
  color: var(--clr-white);
}
.btn--close {
  background-color: var(--clr-btn-close);
  color: var(--clr-white);
}
.btn--primary {
  width: 100%;
  background-color: var(--clr-btn-primary);
  color: var(--clr-white);
}

.task__list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.task__item {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--br-400);
  background-color: var(--clr-bg-task);
  cursor: pointer;
}
.task__item--reminder {
  border-left: 3px solid var(--clr-task-hasReminder);
}
.task__title {
  font-size: var(--fs-taskHeading);
  font-weight: var(--fw-500);
}
.task__remove {
  color: var(--clr-icon-remove);
  cursor: pointer;
  transition: all 0.2s ease;
}
.task__remove:hover, .task__remove:active, .task__remove:focus {
  color: rgb(63, 0, 8);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input__label {
  font-weight: var(--fw-500);
}
.input__input {
  width: 100%;
  border: none;
  box-shadow: inset 0 0 0 2px var(--clr-light);
  padding: 0.5rem 1rem;
  font-size: var(--fs-input);
  border-radius: var(--br-400);
}
.input__input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--clr-black);
}

.app {
  width: min(700px, 95%);
  border: 1px solid var(--clr-light);
  box-shadow: 8px 8px 18px -17px rgb(168, 168, 168);
  padding: 4rem;
  border-radius: var(--br-400);
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-size: var(--fs-h1);
  font-family: var(--ff-heading);
  color: var(--clr-txt-main);
}

.add-task {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0;
}
.add-task__reminder {
  display: flex;
  gap: 2rem;
}
.add-task__reminder-title {
  font-size: var(--fs-500);
}

/*# sourceMappingURL=main.css.map */
